@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*method="post"      =yani bir butona basınca post olsun demiş olduk*@
<form class="form-group" method="post">
    <div style="margin-top:30px">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Kategori Ekle</button>
    </div>
   

</form>
