@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Personel İşlemleri</h2>
<table class="table table-bordered">
    <tr>
        <th>PERSONEL ID</th>
        <th>PERSONEL AD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var per in Model)
    {
        <tr>
            <th>@per.ID</th>
            <td>@per.PERSONEL</td>
            <td><a href="/Personel/PersonelSil/@per.ID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Personel/PersonelGetir/@per.ID" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
    }
    <a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>
</table>

