@model MvcKutuphane.Models.Entity.TBLPERSONEL
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*method="post"      =yani bir butona basınca post olsun demiş olduk*@
<form class="form-group" method="post">
    <div style="margin-top:30px">
        <label>Personel Adı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.PERSONEL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PERSONEL, "", new { @style ="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Personel Ekle</button>
    </div>


</form>

