@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}


<h2>Duyurular</h2>
<table class="table table-bordered">
    <tr>
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        @*<th>Güncelle</th>*@
        <th>İçerik</th>
    </tr>
    
    @foreach (var x in Model)
    {
        if(x.KATEGORI=="Diğer")
        {
            renk = "bg-info text-white";
        }
        if (x.KATEGORI == "Yeni Kitap")
        {
            renk = "bg-warning text-white";
        }
        if (x.KATEGORI == "Kitapları Geçiktirmeyin")
        {
            renk = "bg-danger text-white";
        }
        if (x.KATEGORI == "İletişim")
        {
            renk = "bg-success text-white";
        }
        <tr class="@renk">
            <th>@x.ID</th>
            <td>@x.KATEGORI</td>
            <td>@Convert.ToDateTime(x.TARIH).ToString("dd/MM/yyyy")</td>
            <td><a href="/Duyuru/DuyuruSil/@x.ID" class="btn btn-danger">Sil</a></td>
            @*<td><a href="/Duyurular/DuyuruGetir/@x.ID" class="btn btn-success">Güncelle</a></td>*@
            <td><a href="/Duyuru/DuyuruDetay/@x.ID" class="btn btn-default" style="background-color:skyblue">Detaylar</a></td>
        </tr>
        
    }

    <a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>
</table>

