@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Gelen Mesajlar Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>İşlem</th>
    </tr>

    @foreach (var m in Model)
    {
        <tr>
            <td>@m.GONDEREN</td>
            <td>@m.KONU</td>
            <td>@m.ICERIK</td>
            <td>@m.TARIH</td>
        </tr>

    }

</table>


